@model KadrovoeAgentstvo.Models.Application

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Speciality name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speciality.Name)
        </dd>

        <dt>
            Max salary
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDirectory.MaxSalary)
        </dd>

        <dt>
            Min salary
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDirectory.MinSalary)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobDirectory.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duties)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duties)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requirements)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Requirements)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

    </dl>

    <h4>Company Info</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Company name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            Company Country
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Country)
        </dd>

        <dt>
            Company City
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.City)
        </dd>

        <dt>
            Street
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Street)
        </dd>

        <dt>
            House number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.HouseNumber)
        </dd>

        <dt>
            Apartment number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.ApartmentNumber)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Employer"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationId })
        <text>
            |
        </text>
    }
    @{
        if ((Model.State == KadrovoeAgentstvo.Constants.AppState.Draft || Model.State == KadrovoeAgentstvo.Constants.AppState.Declined) && User.IsInRole("Moderator"))
        {
            @Html.ActionLink("Approve", "ApproveApp", new { id = Model.ApplicationId })
            <text>
                |
            </text>
            @Html.ActionLink("Decline", "DeclineApp", new { id = Model.ApplicationId })
            <text>
                |
            </text>
        }
    }
    
    @Html.ActionLink("Back to List", "Index")
</p>
